<!--div class="top-shadow"></div>
<section class="home-slider owl-carousel">
  <div class="slider-item" style="background-image: url('./assets/homePage/images/1.jpg');">
    <div class="container">
      <div class="row slider-text align-items-center justify-content-center">
        <div class="col-lg-7 text-center col-sm-12 element-animate">
          <h1><span>Société Tunisienne des Industries des Pneumatiques - STIP </span></h1>
        </div>
      </div>
    </div>
  </div>

  <div class="slider-item" style="background-image: url('./assets/homePage/images/image.png');">
    <div class="container">
      <div class="row slider-text align-items-center justify-content-center">
        <div class="col-lg-7 text-center col-sm-12 element-animate">
          <h1><span>Société Tunisienne des Industries des Pneumatiques - STIP </span></h1>
        </div>
      </div>
    </div>
    
  </div>
  <div class="slider-item" style="background-image: url('./assets/homePage/images/image1.png');">
    <div class="container">
      <div class="row slider-text align-items-center justify-content-center">
        <div class="col-lg-7 text-center col-sm-12 element-animate">
          <h1><span>Société Tunisienne des Industries des Pneumatiques - STIP </span></h1>
        </div>
      </div>
    </div>
    
  </div>
</section!-->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/homePage/images/image.png" class="d-block w-100" alt="First slide">
    </div>
    <div class="carousel-item">
      <img src="./assets/homePage/images/image1.png" class="d-block w-100" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img src="./assets/homePage/images/1.jpg" class="d-block w-100" alt="Third slide">
    </div>
  </div>
</div>
