<!-- Navbar de page d'accueil -->
<nav class="navbar">
  <div class="container">
    <img src="./assets/logo2.png" width="100px" height="100px">
    <ul class="nav-links">
      <li class="bold-text" id="active"><a href="#">Accueil</a></li>
      <li class="bold-text"><a href="#">Avancement d'echelon</a></li>
      <li class="bold-text"><a href="#">Historiques</a></li>
      <li class="bold-text"><a  routerLink="/login">Déconnexion</a></li>
    </ul>
    <div class="burger-menu">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
</nav>

<!-- Table de tous les personnels -->
<div class="table-container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>
